<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<div class="container">
    <nav th:replace="template::menu"></nav>
    <h1 class="text-center">Clip show</h1>
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div id="countView" class="views"> перегляди</div>
            <iframe width="420" height="315"
                    th:src="@{'https://www.youtube.com/embed/' + ${clip.url}}"
                    allowfullscreen>
            </iframe>
            <div class="views">
                <span id="countLike"> <i class="fas fa-thumbs-up"></i></span>
                <span id="countDislike"> <i class="fas fa-thumbs-down"></i></span>
            </div>
            <br>
            <input id="url" th:value="${clip.url}" hidden="true">
           ID: <h1 th:text="${clip.id}">Text</h1>
           Name: <h2 th:text="${clip.name}">Text</h2>
           URl: <h3 th:text="${clip.url}">Text</h3>
           Artist: <p th:text="${clip.Artist!=null}?${clip.Artist.name}:'null'">A Smoke Test'</p>
           Style: <p th:text="${clip.Style!=null}?${clip.Style.name}:'null'">A Smoke Test'</p>
           Country: <p th:text="${clip.Country!=null}?${clip.Country.name}:'null'">A Smoke Test'</p>
           <a th:href="@{ ${clip.id} + '/edit'}" class="btn btn-primary">Edit</a>

            <form method="POST" th:action="@{ ${clip.id} + '/delete'}">
                <input type="submit" value="Delete" class="btn btn-danger">
            </form>
        </div>
    </div>

    </div>
    <footer th:replace="template::footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <p th:replace="template::js"></p>
    <script th:src= "@{/js/parsley.min.js}"></script>
    <script th:src= "@{/js/fontawesome-all.min.js}"></script>
    <script type="text/javascript">
        $(function(){
            var id = $("#url").val();
            console.log(id);
            $.ajax({
                type:"GET",
                url:"https://www.googleapis.com/youtube/v3/videos",
                data:{
                    id: id,
                    key: 'AIzaSyBwVFsBBeaHY6AJLEiKjzJSan22jEaa7lQ',
                    part: 'snippet,contentDetails,statistics,status'
                },
                success:function(data){
                    var clip = data.items[0];
                    console.log('success',clip);
                    $('#countView').prepend(clip.statistics.viewCount);
                    $('#countLike').prepend(clip.statistics.likeCount);
                    $('#countDislike').prepend(clip.statistics.dislikeCount);
                }
            });
        });
    </script>
</body>
</html>