<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template::menu"></nav>
<div class="container">
    <h1 class="text-center" th:text="${style.name}">Text</h1>
    <div class="row">
        <div class="col-md-8">
            <table class="table">
                <thead>
                <th>#</th>
                <th>Name</th>
                <th>Url</th>
                <th>Style</th>
                <th>Country</th>
                <th></th>
                </thead>
                <tbody>
                <th:block th:each="clip : ${style.clips}">
                    <tr>
                        <td th:text="${clip.id}"></td>
                        <td th:text="${clip.name}"></td>
                        <td th:text="${clip.url}"></td>
                        <td th:text="${clip.Style.name}"></td>
                        <td th:text="${clip.Country.name}"></td>
                        <td><a th:href="@{'/admin/clips/' + ${clip.id}}">View</a></td>
                    </tr>
                </th:block>
            </table>
        </div>


        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Style</div>
                <div class="card-body">
                    <p th:text="'Description: ' + ${style.description}"></p>
                    <div class="row">
                        <div class="col-sm-6">
                            <a th:href="@{ ${style.id} + '/edit'}" class="btn btn-primary btn-block">Edit</a>
                        </div>
                        <div class="col-sm-6">
                            <form method="POST" th:action="@{ ${style.id} + '/delete'}">
                                <input type="submit" value="Delete" class="btn btn-danger btn-block">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
<footer th:replace="template::footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<p th:replace="template::js"></p>

</body>
</html>
