<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template::menu"></nav>
<div class="container charts">
        <div class="row">
            <div class="d-flex flex-row flex-wrap">
                <div class="card mycard" th:each="country : ${countries}">
                    <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                    <div class="card-header" th:text="${country.name}"></div>
                    <div class="card-body mycard-body">
                        <div class="list-group"
                             th:each="clip : ${country.getTopClips(5)}">
                            <a th:href="@{'/charts/clip/' + ${clip.id}}" class="list-group-item list-group-item-action"
                                th:text="${country.clips.indexOf(clip) + 1} + '. ' +${clip.getFirstArtist().name} + ' - ' +${clip.name}"></a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a th:href="@{'/charts/country/' + ${country.id}}" class="card-link">View all chart</a>
                    </div>
                </div>
            </div>
        </div>


    <footer th:replace="template::footer"></footer>
</div>

<p th:replace="template::js"></p>

</body>
</html>