<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>World Music</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>

    <![endif]-->

    <!--Animated css-->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Google Fonts-->
    <!--<link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">-->
    <!--Font Awesome-->
    <link href="fontawesome/web-fonts-with-css/css/fontawesome-all.css" rel="stylesheet">
    <!-- main css-->
    <link rel="stylesheet" href="css/main.css">
<body>
<!--banner section-->
<section id= "banner">
    <div id = "banner-content">
        <div id = "banner-box">
            <h1><strong>World Music</strong></h1>
            <div id="banner-underline"></div>
            <a href="/charts">CHOOSE COUNTRY</a>
        </div>
    </div>
    <div id = "banner-icon">
        <a href="#services" class="wow bounce" data-wow-iteration="infinite" data-wow-duration="4s"><i class="fa fa-angle-double-down"></i></a>
    </div>
</section>
<!--end of banner section-->

<!-- start of services section-->
<section id="services">
    <div class="container">
        <!--header-->
        <div class="header text-center">
            <h1><strong>services</strong></h1>
            <div class="header-underline"></div>
            <p class="text-muted">There are such services like:</p>
        </div>
        <!--end of header-->

        <div class="row">
            <div class="col-md-4 col-sm-6 services-container text-center">
                <i class="fa fa-chart-bar"></i>
                <h2><strong>View Charts</strong></h2>
                <p class="text-muted">You can view charts of countries, vote and comment clips.</p>
            </div>
            <div class="col-md-4 col-sm-6 services-container text-center">
                <i class="fa fa-user"></i>
                <h2><strong>Manage Profile</strong></h2>
                <p class="text-muted">You can view your favorite clips, manage your personal data.</p>
            </div>
            <div class="col-md-4 col-sm-6 services-container text-center">
                <i class="fa fa-share-square"></i>
                <h2><strong>Send Clip</strong></h2>
                <p class="text-muted">If you want to participate in charts, you can send your clip to our email.</p>
            </div>
        </div>
    </div>
</section>
<!-- end of services section-->


<!--promise section-->
<section id="promise">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 promise-picture"></div>
            <div class="col-sm-6 promise-text">
                <!--header-->
                <div class="header text-center">
                    <h1><strong>Contact Us:</strong></h1>
                    <div class="header-underline"></div>
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, nec te autem detraxit facilisis. Ex equidem partiendo pro, magna referrentur mel id, et nec prima torquatos interesset.</p>-->
                </div>
                <!--end of header-->
                <div class="promise-icons">
                    <div>
                        <h2>
                            <i class="fa fa-envelope"></i> Email
                        </h2>
                        <p class="text-muted"><a href="#">email@gmail.com</a></p>
                    </div>
                    <div>
                        <h2>
                            <i class="fab fa-facebook-square"></i> FaceBook
                        </h2>
                        <p class="text-muted"><a href="#">facebook.com</a></p>
                    </div>
                    <div>
                        <h2>
                            <i class="fab fa-twitter-square"></i> Twitter
                        </h2>
                        <p class="text-muted"><a href="#">twitter.com</a></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end of promise section-->

<!--skills section-->
<section id="skills">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-6">
                <!--header-->
                <div class="header text-center">
                    <h1><strong>Styles</strong></h1>
                    <div class="header-underline"></div>
                    <p class="text-muted">There are many styles in our sites.</p>
                </div>
                <!--end of header-->
            </div>
            <!-- html progress bar-->
            <div class="col-sm-6 bars">
                <h4>Rock</h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" ariavaluenow="40" aria-valuemax='100' aria-valuemin='0' style="width: 40%;"></div>
                </div>
                <!-- css progress bar-->
                <div>
                    <h4>POP</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" ariavaluenow="90" aria-valuemax='100' aria-valuemin='0' style="width:90%;"></div>
                    </div>
                </div>
                <!-- bootstrap progress bar-->
                <div>
                    <h4>Rap</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" ariavaluenow="20" aria-valuemax='100' aria-valuemin='0' style="width:20%;"></div>
                    </div>
                </div>
                <!-- javascript progress bar-->
                <div>
                    <h4>R&B</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" ariavaluenow="50" aria-valuemax='100' aria-valuemin='0' style="width:50%;"></div>
                    </div>
                </div>
                <!-- wordpress progress bar-->
                <div>
                    <h4>Electro</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" ariavaluenow="20" aria-valuemax='100' aria-valuemin='0' style="width:20%;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end of skills section-->

<!--jumbo section-->
<section class="jumbo">
    <div class="jumbotron text-center">
        <div>
            <h1>Want Music????</h1>
            <a href="/charts">Get a charts</a>
        </div>
    </div>
</section>
<!--end of jumbo section-->














<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!--wow.js-->
<script src="js/wow.min.js"></script>
<script src="js/wow.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<!--<script src="js/fontawesome-all.min.js"></script>-->
</body>
</html>