<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template::menu"></nav>
<div class="container">
    <h1 class="text-center">Edit artist</h1>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 col-md-offset-3">
            <hr>
            <form action="edit" method="post">
                <div class="form-group">
                    <label name="name">Artist Name:</label>
                    <input id="name" name="name" class="form-control" th:value="${artist.name}" required="" maxlength="255">
                </div>
                <div class="form-group">
                    <label name="biography">Artist biography:</label>
                    <input id="biography" name="biography" class="form-control" th:value="${artist.biography}" required="" maxlength="255">
                </div>

                <div class="form-group">
                    <label name="style_id">Country:</label>
                    <select class="form-control" name="country_id">
                        <option  th:each="country : ${countries}"
                                 th:value="${country.id}"
                                 th:text="${country.name}"
                                 th:selected="(${country.code_id == artist.country_code})">
                        </option>
                    </select>
                </div>
                <input class="btn btn-primary btn-block" type=submit value="Update Artist">
            </form>
        </div>
    </div>
</div>
    <footer th:replace="template::footer"></footer>
    <p th:replace="template::js"></p>
    <script src= "parsley.min.js"></script>
</body>
</html>