<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template::menu"></nav>
<div class="container">
    <h1 class="text-center" th:text="${userR.name}">Text</h1>
    <div class="row">
        <div class="col-md-8">
          <table class="table">
                 <thead>
                 <th>#</th>
                 <th>Name</th>
                 <th></th>
                 </thead>
                 <tbody>
                 <td></td>
                 <th:block th:each="role : ${roles}">
                     <tr>
                         <td th:text="${role.id}"></td>
                         <td th:text="${role.role}"></td>

                     </tr>
                 </th:block>
             </table>-
        </div>

        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">User</div>
                <div class="card-body">
                    <p th:text="'Name: ' + ${userR.name}">
                    <p th:text="'Email: ' + ${userR.email}"></p>
                    <div class="row">
                        <div class="col-sm-6">
                            <a th:href="@{ ${userR.id} + '/edit'}" class="btn btn-primary btn-block">Edit</a>
                        </div>
                        <div class="col-sm-6">
                            <form method="POST" th:action="@{ ${userR.id} + '/delete'}">
                                <input type="submit" value="Delete" class="btn btn-danger btn-block">
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

</div>
<footer th:replace="template::footer"></footer>
</body>
</html>