/*
	orange     #F15025
	black      #353531
	navy blue  #2D3142
	grey       #CED0CE
	smoke white
*/
@font-face {
    font-family: 'Macondo';
    src: url('Macondo-Regular.ttf');
}
html,body {
    height:100%;
}
body {
    font-family: 'Macondo', cursive;
    font-size:100%;
    line-height: 1.5em;
}

/*banner section*/
#banner {
    height: 100%;
    /*background: #ffffff url('../images/nature/beautiful-curvy-road-in-austrian-nature.jpg') fixed;*/
    background: #ffffff url('../img/music2.jpg') fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position:relative;
}

/*align vertical center*/
#banner-content {
    height: 100%;
    width:  100%;
    display: table;
}

#banner-box {
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

/*text and link*/

#banner-box h1 {
    margin:0!important;
    font-size: 80px;
    font-weight: 400;
    text-transform: uppercase;
    color:black;
}

#banner-underline {
    width: 300px;
    border: 3px solid #F15025;
    margin: 0 auto;
}

#banner-box a {
    font-size: 30px;
    border:2px solid #F15025;
    display: inline-block;
    padding: 15px 20px !important;
    margin: 20px;
    color:#F15025;
    text-decoration: none;
    background-color: whitesmoke;
}

#banner-box a:hover,
#banner-box a:focus {
    color: #F15025;
    background-color: #CED0CE;
}

/*Link Down the Page*/
#banner-icon a {
    position: absolute;
    bottom:10%;
    left:50%;
    transform:translate(-50%,-50%);
    font-size:30px;
    color:black;
    border:2px solid black;
    border-radius: 50%;
    padding: 5px;
}

#banner-icon a:hover {
    opacity: 0.6;
    color:black;
    border-color: black;
}

/*header*/
.header h1 {
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom:5px;
}

.header-underline {
    width: 150px;
    border: 3px solid #F15025;
    margin: 0 auto 20px auto;
}

.header p {
    font-size: 16px;
    padding:0 30px;
}

/*services section*/
#services {
    background-color: #CED0CE;
    padding: 40px;
}

.services-container .fa {
    font-size: 100px;
    color:#F15025;
}

#services h2 {
    margin:10px auto 20px auto;
}

.services-container p {
    font-size: 16px;
    line-height: 1.5em;
}

.services-container {
    padding: 20px 40px;
}
/*end of services section*/
/*Promise Section*/
.promise-picture {
    height:600px;
    /*background: url('../images/animals/deers.jpg');*/
    background: #ffffff url('../img/music.jpg') fixed;
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    background-attachment: fixed;
    border-top:600px solid transparent;
    border-right: 150px solid whitesmoke;
}
.promise-text {
    height: 600px;
    background-color: whitesmoke;
    padding: 40px 20px;
}

.promise-icons p {
    font-size: 20px;
    line-height: 1.2em;
}

#promise .fa {
    color:#F15025;
    font-size: 40px;
}
/*end of promise section*/

/*Skills section*/

#skills {
    color:whitesmoke;
    background-color: #353531;
    padding: 40px 40px;
}

#skills .col-sm-6 {
    padding: 0px 40px;
}

#skills .progress {
    border-radius: 0;
    background-color: #CED0CE;
}

/*end of skills section*/

/*jumbotron section*/
.jumbotron {
    margin-bottom: 0!important;
    padding: 40px;
    background-color: #F15025;
}

.jumbo h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 2em;
}

.jumbo a {
    font-size: 30px;
    border:2px solid whitesmoke;
    display: inline-block;
    padding: 15px 20px;
    margin-top: 40px;
    color: whitesmoke;
    text-decoration: none;
    text-transform: uppercase;
}

.jumbo a:hover {
    color: #F15025;
    background-color: whitesmoke;
}
/*end of jumbotron section*/

