<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>World Music</title>
</head>
<body>
<p th:fragment="js">
    <script th:src= "@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src= "@{/js/popper.min.js}"></script>
    <script th:src= "@{/js/bootstrap.min.js}"></script>
</p>
</body>
</html>