<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>World Music</title>
</head>
<body>
<nav th:fragment="menu" class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">World Music</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto" >
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin/clips">Clips</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin/artists">Artists</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin/styles">Styles</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin/countries">Countries</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" href="/admin/users">Users</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="${'/profile'}">My Account</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="${'/logout'}">Logout</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" th:href="${'/login'}">Login</a>
                </li>
        </ul>


    </div>
</nav>
<p th:fragment="js">
    <script th:src= "@{/js/jquery-3.3.1.min.js}"></script>
    <script th:src= "@{/js/popper.min.js}"></script>
    <script th:src= "@{/js/bootstrap.min.js}"></script>
</p>
<footer th:fragment="footer">
    <hr>
    <p class='text-center'>Copyright WorldMusic - All Rights Reserved</p>
</footer>
</body>
</html>