<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="template :: head">
</head>
<body>
<nav th:replace="template::menu"></nav>
<div class="container">
    <h1 class="text-center" th:text="${clip.name}">Text</h1>
    <div class="row">
        <div class="col-md-8">

            <div id="countView" class="views"> перегляди</div>
            <iframe width="420" height="315"
                    th:src="@{'https://www.youtube.com/embed/' + ${clip.url}}"
                    allowfullscreen>
            </iframe>
            <div class="views">
                <span id="countLike"> <i class="fas fa-thumbs-up"></i></span>
                <span id="countDislike"> <i class="fas fa-thumbs-down"></i></span>
            </div>
            <br>
            <input id="url" th:value="${clip.url}" hidden="true">
            <hr>
            <h3>Comments <small th:text="${commentCount} + ' total'"></small></h3>

            <table class="table">
                <thead>
                <th>#</th>
                <th>User</th>
                <th>Body</th>
                <th>Created Date</th>
                <th>Updated Date</th>
                <th></th>
                </thead>
                <tbody>
                <th:block th:each="comment : ${clip.comments}">
                    <tr>
                        <td th:text="${comment.id}"></td>
                        <td th:text="${comment.User.name}"></td>
                        <td th:text="${comment.comment}"></td>
                        <td th:text="${#dates.format(comment.createdDate, 'dd-MM-yyyy, HH:mm')}"></td>
                        <td th:text="${#dates.format(comment.updatedDate, 'dd-MM-yyyy, HH:mm')}"></td>
                        <td>
                        <!--<a href="#" class="btn btn-xs btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                        </a>-->
                        <form th:action="@{${clip.id} + '/comment/delete'}" method="post">
                            <input id="commentId" name="commentId" type="text" hidden
                            th:value="${comment.id}"/>
                            <button class="btn btn-xs btn-danger"><i class="fas fa-trash-alt"></i></button>
                        </form>
                        </td>
                    </tr>
                </th:block>
            </table>
            <hr>
            <form action="#" th:action="@{ ${clip.id} + '/comment'}" method="post">
                <div class="form-group">
                    <label name="commentText">Comment Text:</label>
                    <input id="commentText" name="commentText" type="text" class="form-control" required="" maxlength="255">
                </div>
                <input class="btn btn-primary btn-block" type=submit value="Comment Clip">
            </form>
        </div>
        <div class="col-md-4">
            <div class="card bg-light mb-3" style="max-width: 18rem;">
                <div class="card-header">Clip</div>
                <div class="card-body">
                    <p>URL:
                        <a th:href="@{'/charts/clip/' + ${clip.id}}"
                           th:text="@{'/charts/clip/' + ${clip.id}}">
                        </a>
                    </p>
                    <p>Artist:
                        <span th:each="artist : ${clip.clipArtists}">
                            <a th:href="@{'/admin/artists/' + ${artist.id}}"
                               th:text="${artist.name}">
                            </a>
                        </span>
                    </p>
                    <p>Styles:
                        <span th:each="style : ${clip.clipStyles}">
                            <a th:href="@{'/admin/styles/' + ${style.id}}"
                               th:text="${style.name}">
                            </a>
                        </span>
                    </p>
                    <p>Country:
                        <a th:href="@{'/admin/countries/' + ${clip.Country.id}}"
                           th:text="${clip.Country.name}">
                        </a>
                    </p>
                    <!--<p th:text="'Country: ' + ${clip.Country.name}"></p>-->
                    <div class="row">
                        <div class="col-sm-6">
                            <a th:href="@{ ${clip.id} + '/edit'}" class="btn btn-primary btn-block">Edit</a>
                        </div>
                        <div class="col-sm-6">
                            <form method="POST" th:action="@{ ${clip.id} + '/delete'}">
                                <input type="submit" value="Delete" class="btn btn-danger btn-block">
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <br>
                            <a th:href="${'/admin/clips'}" class="btn btn-default btn-block">Show all Clips</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

</div>
    <footer th:replace="template::footer"></footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <p th:replace="template::js"></p>
    <script th:src= "@{/js/parsley.min.js}"></script>
    <script th:src= "@{/js/fontawesome-all.min.js}"></script>
    <script type="text/javascript">
        $(function(){
            var id = $("#url").val();
            console.log(id);
            $.ajax({
                type:"GET",
                url:"https://www.googleapis.com/youtube/v3/videos",
                data:{
                    id: id,
                    key: 'AIzaSyBwVFsBBeaHY6AJLEiKjzJSan22jEaa7lQ',
                    part: 'snippet,contentDetails,statistics,status'
                },
                success:function(data){
                    var clip = data.items[0];
                    console.log('success',clip);
                    $('#countView').prepend(clip.statistics.viewCount);
                    $('#countLike').prepend(clip.statistics.likeCount);
                    $('#countDislike').prepend(clip.statistics.dislikeCount);
                }
            });
        });
    </script>
<script  src="{{ URL::asset('js/fontawesome-all.min.js') }}" type="text/javascript"></script>
</body>
</html>